<form [formGroup]="form" (ngSubmit)="submit()" nz-form [nzLayout]="'vertical'">
  <!-- Título -->
  <nz-form-item>
    <nz-form-label nzRequired>Título</nz-form-label>
    <nz-form-control [nzErrorTip]="tituloErrorTpl">
      <input nz-input formControlName="titulo" placeholder="Digite o título da enquete" />
      <ng-template #tituloErrorTpl let-control>
        @if (control.hasError('required')) {
        O campo é obrigatório
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <!-- Descrição -->
  <nz-form-item>
    <nz-form-label nzRequired>Descrição</nz-form-label>
    <nz-form-control [nzErrorTip]="descricaoErrorTpl">
      <textarea nz-input formControlName="descricao" rows="2" placeholder="Descrição da enquete"></textarea>
      <ng-template #descricaoErrorTpl let-control>
        @if (control.hasError('required')) {
        O campo é obrigatório
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <!-- Data de encerramento -->
  <nz-form-item>
    <nz-form-label nzRequired>Data de encerramento</nz-form-label>
    <nz-form-control [nzErrorTip]="encerramentoErrorTpl">
      <input nz-input type="datetime-local" formControlName="encerramento" />
      <ng-template #encerramentoErrorTpl let-control>
        @if (control.hasError('required')) {
        O campo é obrigatório
        }
        @if (control.hasError('passDate')) {
        Não pode ser uma data passada
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <!-- Opções -->
  <nz-form-item>
    <nz-form-label nzRequired>Opções</nz-form-label>
    <nz-form-control [nzValidateStatus]="opcoesControl ?? ''" [nzErrorTip]="opcoesErrorTpl">
      <div formArrayName="opcoes">
        @for (opcao of opcoes; track $index) {
        <div class="mb-2">
          <div style="display: flex; gap: 8px;">
            <input nz-input [formControl]="opcao" placeholder="Opção {{ $index + 1 }}" style="flex: 1;" />
            @if (opcoes.length > 3) {
            <button nz-button nzType="default" nzShape="circle" (click)="removerOpcao($index)" type="button">
              <span nz-icon nzType="delete"></span>
            </button>
            }
          </div>
        </div>
        }

        <button nz-button nzType="dashed" class="mt-2" (click)="adicionarOpcao()" type="button">
          <span nz-icon nzType="plus"></span> Adicionar opção
        </button>
      </div>
      <ng-template #opcoesErrorTpl let-control>
        @if (control.hasError('opcaoVazia')) {
          Todas as opções devem estar preenchidas.
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <!-- Botão de envio -->
  <button nz-button nzType="primary" htmlType="submit" [disabled]="form.invalid">
    {{data && data.enqueteId ? 'Atualizar Enquete' : 'Criar Enquete'}}
  </button>
</form>